/*
  Colors setting
*/
/*
  Let the file begins.
  Written by SCSS
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Fonts setting
 */
/**
 * Fonts
 */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Sans"), local("JosefinSans"), url("../fonts/JosefinSans-normal.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Sans Bold"), local("JosefinSans-Bold"), url("../fonts/JosefinSans-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Josefin Sans Italic"), local("JosefinSans-Italic"), url("../fonts/JosefinSans-italic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Josefin Sans Bold Italic"), local("JosefinSans-BoldItalic"), url("../fonts/JosefinSans-bolditalic.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url("../fonts/Inconsolata-normal.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url("../fonts/Inconsolata-bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*
  Icon Fonts
*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?focxz5");
  src: url("../fonts/icomoon.eot?focxz5#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?focxz5") format("truetype"), url("../fonts/icomoon.woff?focxz5") format("woff"), url("../fonts/icomoon.svg?focxz5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-down:before {
  content: "\e902"; }

.icon-chevron-left:before {
  content: "\e903"; }

.icon-chevron-right:before {
  content: "\e904"; }

.icon-chevron-thin-down:before {
  content: "\e906"; }

.icon-chevron-thin-left:before {
  content: "\e907"; }

.icon-chevron-thin-right:before {
  content: "\e908"; }

.icon-chevron-thin-up:before {
  content: "\e909"; }

.icon-chevron-up:before {
  content: "\e905"; }

.icon-email:before {
  content: "\e911"; }

.icon-menu:before {
  content: "\e900"; }

.icon-rss:before {
  content: "\e90f"; }

.icon-user:before {
  content: "\e910"; }

.icon-vcard:before {
  content: "\e912"; }

.icon-sina-weibo:before {
  content: "\e901"; }

.icon-github:before {
  content: "\e90a"; }

.icon-google:before {
  content: "\e90b"; }

.icon-pinterest:before {
  content: "\e90c"; }

.icon-twitter:before {
  content: "\e90d"; }

.icon-search:before {
  content: "\e90e"; }

::-moz-selection {
  background: rgba(255, 183, 77, 0.7);
  color: #414141; }

::selection {
  background: rgba(255, 183, 77, 0.7);
  color: #414141; }

html, body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", "Helvetica Neue", 'Segoe UI Light', Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", "Simhei", sans-serif; }

.clearfix {
  clear: both;
  *zoom: 1; }
  .clearfix::before, .clearfix::after {
    content: "";
    display: table; }
  .clearfix::after {
    clear: both; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: 700;
  font-family: "Josefin Sans", "Helvetica Neue", 'Segoe UI Light', Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", "Simhei", sans-serif; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5, h6 {
  font-size: 1.2em; }

a {
  color: #414141;
  text-decoration: none;
  transition: all 0.24s ease; }
  a:hover {
    text-decoration: none; }

img, figure {
  height: auto; }

figure {
  margin: 0; }

p {
  line-height: 1.618; }

ul, ol {
  padding: 0;
  margin: .5em;
  margin-left: 1em; }

li {
  padding: 0;
  margin-left: 1em; }

table {
  width: 100%;
  border-collapse: collapse; }
  table th, table td {
    padding: 10px;
    border: 1px #828282 solid; }

code, pre {
  font-family: Inconsolata, Consolas, monospace, sans-serif; }

pre {
  word-wrap: break-word;
  white-space: pre-wrap; }

hr {
  display: block;
  width: 20%;
  height: 3px;
  border: 0;
  border-top: #EFEFEF 3px solid;
  margin: 2em auto;
  padding: 0; }

abbr {
  text-decoration: none; }

ins {
  background-color: #2196f3;
  color: #fff;
  padding: 0.125em 0.25em;
  text-decoration: none;
  text-shadow: none; }

dt {
  font-weight: 700; }

dd {
  margin: 0 0 1.75em; }

* {
  transition: color .3s, border .3s, background .3s, box-shadow .3s, text-shadow .3s; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  /* many screen reader and browser combinations announce broken words as they would appear visually */
  word-wrap: normal !important; }

.hidden {
  visibility: hidden; }

input, textarea {
  box-sizing: border-box; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  font-family: "Josefin Sans", "Helvetica Neue", 'Segoe UI Light', Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", "Simhei", sans-serif;
  border: 1px #ccc solid;
  width: 100%;
  padding: .75em 1em;
  box-sizing: border-box;
  outline: 0; }

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
  background: #ff9800 none repeat scroll 0% 0%;
  border: 0px none;
  color: #414141;
  font-family: "Josefin Sans", "Helvetica Neue", 'Segoe UI Light', Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", "Simhei", sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.84375em 0.875em 0.78125em;
  outline: 0; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #ff5722; }
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: #f44336; }

/**
 *  Loading bar
 */
#loading-bar-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 999; }

#loading-bar {
  position: relative;
  width: 0;
  height: 2px;
  background-color: #ff9c0a;
  transition: all 0.5s ease; }

/**
 *  Universal Wrapper
 */
.site-wrapper {
  position: relative;
  min-height: 100%;
  background: #EBECEE;
  overflow-x: hidden;
  transition: all 0.24s ease;
  z-index: 2; }

.dark-btn {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  padding: 0px 15px;
  font-size: 13px;
  text-align: center;
  color: #c2c2c2; }
  .dark-btn:hover {
    color: whitesmoke;
    background-color: #009688; }
  .dark-btn .icon {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
    line-height: 44px; }
  .dark-btn .text {
    vertical-align: middle;
    line-height: 44px; }

.header {
  position: relative;
  width: 100%;
  color: #414141;
  padding-bottom: 40px;
  border-top: 2px solid black;
  transition: all 0.24s ease;
  z-index: 3; }
  @media only screen and (max-width: 820px) {
    .header {
      padding-bottom: 20px; } }
  .header-wrapper {
    position: relative;
    width: 100%;
    height: 70px;
    background: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e1e2e3;
    padding: 0px 20px;
    z-index: 3; }
  .header .logo {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 82px;
    background: #000;
    padding: 10px 0px 12px 0px;
    transition: all 0.24s; }
    @media (max-width: 820px) {
      .header .logo {
        width: 140px;
        height: 70px;
        margin-left: -70px;
        padding: 10px 0px; } }
    .header .logo img {
      display: block;
      width: 70px;
      height: auto;
      margin: 0px auto;
      transition: all 0.24s; }
      @media (max-width: 820px) {
        .header .logo img {
          width: 50px; } }
    .header .logo .desc {
      display: block;
      text-align: center;
      color: white;
      font-size: 13px;
      line-height: 2;
      transition: all 0.24s; }
      @media (max-width: 820px) {
        .header .logo .desc {
          font-size: 12px; } }
  .header .site-nav-switch {
    position: relative;
    border: 0;
    float: right;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 0;
    margin-top: 20px;
    transition: all 0.24s ease;
    cursor: pointer; }
    .header .site-nav-switch.active {
      transform: rotate(90deg); }

.site-menu {
  position: absolute;
  top: 69px;
  right: 0;
  width: 220px;
  padding: 20px 0px;
  background: white;
  border: 1px solid #e6e7e6;
  border-right: 0;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  transform: translate3d(280px, 0, 0);
  transition: transform 0.24s ease;
  z-index: 2; }
  body.menu-open .site-menu {
    transform: translate3d(0, 0, 0); }
  .site-menu .header-menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .site-menu .header-menu li {
      margin: 0;
      padding: 0; }
      .site-menu .header-menu li a {
        position: relative;
        display: block;
        color: #414141;
        font-size: 0.8125em;
        padding: 5px 20px;
        border-left: 3px solid transparent;
        line-height: 1.5; }
        .site-menu .header-menu li a:hover {
          background-color: rgba(233, 234, 234, 0.6);
          border-color: #ff9800; }
    .site-menu .header-menu .nav {
      position: relative;
      display: block;
      color: #414141;
      font-size: 0.8125em;
      padding: 2px 20px;
      border-left: 3px solid transparent; }
      .site-menu .header-menu .nav:hover {
        background-color: rgba(233, 234, 234, 0.6);
        border-color: #ff9800; }

.site-main {
  position: relative;
  width: 100%;
  max-width: 820px;
  margin: 0px auto;
  padding: 0px 30px 20px 30px;
  opacity: 0;
  transform: translate3d(0px, -20px, 0px);
  transition: all 0.24s ease; }
  .site-main.loaded {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1; }
  @media (max-width: 820px) {
    .site-main {
      padding: 0px 20px 20px 20px; } }
  .site-main .post-list {
    position: relative;
    width: 760px;
    margin: 0px auto; }
    @media (max-width: 820px) {
      .site-main .post-list {
        width: 100%; } }
  .site-main .hentry {
    position: relative;
    margin-bottom: 50px;
    padding: 40px 0px;
    background: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15); }
    .single-post .site-main .hentry {
      margin-bottom: 20px; }
    .site-main .hentry .entry-title {
      display: block;
      text-align: center;
      font-size: 1.25em;
      padding: 0px 20px;
      margin: 0 0 .4em; }
      @media (max-width: 820px) {
        .site-main .hentry .entry-title {
          font-size: 1em; } }
      .site-main .hentry .entry-title a {
        display: inline;
        line-height: 1.25;
        font-weight: normal;
        color: #464646; }
        .site-main .hentry .entry-title a:hover {
          color: #55b559; }
    .site-main .hentry .entry-time {
      display: block;
      text-align: center;
      color: #b5b5b5;
      font-size: 0.75em;
      margin-bottom: 30px; }
    .site-main .hentry .entry-content {
      color: #464646;
      font-size: 14px;
      line-height: 1.75em;
      padding: 0px 30px; }
      @media (max-width: 820px) {
        .site-main .hentry .entry-content {
          padding: 0px 20px; } }
      .site-main .hentry .entry-content p {
        margin: 20px 0; }
      .site-main .hentry .entry-content img {
        position: relative;
        display: block;
        width: 114%;
        margin: 0 -7%;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
        padding: 5px;
        background: white;
        transition: all 0.24s ease; }
        @media (max-width: 820px) {
          .site-main .hentry .entry-content img {
            width: 100%;
            margin: 0;
            box-shadow: none; } }
      .site-main .hentry .entry-content ul,
      .site-main .hentry .entry-content ol {
        list-style: circle;
        margin: 20px 0px;
        padding-left: 30px; }
      .site-main .hentry .entry-content a {
        color: #f59200; }
        .site-main .hentry .entry-content a:hover {
          color: #f08f00;
          background: rgba(255, 152, 0, 0.1); }
        .site-main .hentry .entry-content a:active {
          background: rgba(255, 152, 0, 0.2);
          color: #ffffff; }
      .site-main .hentry .entry-content h1, .site-main .hentry .entry-content h2, .site-main .hentry .entry-content h3, .site-main .hentry .entry-content h4, .site-main .hentry .entry-content h5, .site-main .hentry .entry-content h6 {
        position: relative;
        font-family: "Josefin Sans", "Helvetica Neue", 'Segoe UI Light', Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", "Simhei", sans-serif;
        font-weight: bold;
        margin: 40px auto 30px auto;
        left: 20px; }
        .site-main .hentry .entry-content h1::before, .site-main .hentry .entry-content h2::before, .site-main .hentry .entry-content h3::before, .site-main .hentry .entry-content h4::before, .site-main .hentry .entry-content h5::before, .site-main .hentry .entry-content h6::before {
          position: absolute;
          left: -20px;
          top: 0px;
          content: "#";
          color: #4caf50;
          font-weight: normal; }
      .site-main .hentry .entry-content blockquote {
        position: relative;
        width: 100%;
        margin: 20px 0px;
        padding: 0px 20px;
        border-left: 4px solid #4caf50; }
      .site-main .hentry .entry-content pre {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        font-size: 13px;
        margin: 20px 0px;
        padding: 10px 15px;
        background: #f9f9fa;
        white-space: pre;
        overflow: auto; }
        .site-main .hentry .entry-content pre code {
          color: #414141;
          margin: 0;
          font-size: 1em;
          background: transparent;
          border: 0;
          white-space: inherit; }
      .site-main .hentry .entry-content code {
        color: #008c7f;
        padding: 3px 5px;
        margin: 0px 2px;
        border-radius: 2px;
        white-space: nowrap;
        font-size: 1em;
        background: #f9f9fa; }
    .site-main .hentry .post-tags {
      margin-top: 50px;
      padding: 0px 30px; }
      @media (max-width: 820px) {
        .site-main .hentry .post-tags {
          padding: 0px 20px; } }
      .site-main .hentry .post-tags a {
        position: relative;
        padding: 4px 10px 4px 20px;
        margin-right: 5px;
        font-size: 14px;
        background: #EBECEE;
        border-radius: 2px;
        vertical-align: middle;
        line-height: 1.75em;
        color: #414141; }
        .site-main .hentry .post-tags a:hover {
          background: #414141;
          color: white; }
        .site-main .hentry .post-tags a::before {
          position: absolute;
          top: 0;
          left: 7px;
          content: "#"; }
  .site-main .post-nav {
    font-size: 14px;
    font-weight: 400;
    color: #a7a7a7;
    margin-bottom: 20px; }
    .site-main .post-nav::before, .site-main .post-nav::after {
      content: "";
      display: table; }
    .site-main .post-nav::after {
      clear: both; }
    .site-main .post-nav .left {
      float: left; }
    .site-main .post-nav .right {
      float: right; }
    .site-main .post-nav a {
      border-radius: 2px;
      padding: 5px 10px; }
      .site-main .post-nav a:hover {
        color: white;
        background: #414141; }
      .site-main .post-nav a span {
        line-height: 20px;
        vertical-align: middle; }
        .site-main .post-nav a span.icon {
          position: relative;
          top: 1px; }

.comments-area {
  padding: 30px;
  background: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15); }
  .comments-area .comments-title {
    margin: 0;
    line-height: 1.5;
    font-size: 1.2em;
    text-align: center; }
  .comments-area .comment-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .comments-area .comment-list .comment {
      list-style: none;
      margin: 0;
      padding: 0; }
      .comments-area .comment-list .comment ol.children {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 30px; }
      .comments-area .comment-list .comment .comment-body {
        font-size: 1em;
        padding: 20px 0;
        border-bottom: 1px rgba(0, 0, 0, 0.1) solid; }
        .comments-area .comment-list .comment .comment-body .comment-author {
          position: relative;
          padding-left: 50px; }
          .comments-area .comment-list .comment .comment-body .comment-author .avatar {
            position: absolute;
            top: 0;
            left: 0; }
          .comments-area .comment-list .comment .comment-body .comment-author .says {
            display: none; }
        .comments-area .comment-list .comment .comment-body .comment-metadata {
          color: #828282;
          padding-left: 50px;
          font-size: .875em;
          line-height: 1rem; }
        .comments-area .comment-list .comment .comment-body .comment-content {
          padding-left: 50px;
          font-size: .875em; }
        .comments-area .comment-list .comment .comment-body .reply {
          padding-left: 50px; }
          .comments-area .comment-list .comment .comment-body .reply .comment-reply-link {
            font-size: .875em;
            padding: 5px 15px;
            color: #f59200; }
            .comments-area .comment-list .comment .comment-body .reply .comment-reply-link:hover {
              color: #f08f00;
              background: rgba(255, 152, 0, 0.1); }
            .comments-area .comment-list .comment .comment-body .reply .comment-reply-link:active {
              background: rgba(255, 152, 0, 0.2);
              color: #ffffff; }
  .comments-area .comment-navigation {
    padding: 10px 0; }
    .comments-area .comment-navigation::before, .comments-area .comment-navigation::after {
      content: "";
      display: table; }
    .comments-area .comment-navigation::after {
      clear: both; }
    .comments-area .comment-navigation .nav-previous {
      float: left; }
    .comments-area .comment-navigation .nav-next {
      float: right; }
  .comments-area .comment-respond .comment-reply-title {
    font-size: 1em; }
  .comments-area .comment-respond .required {
    color: #f44336; }
  .comments-area .comment-respond .submit {
    display: block;
    width: 100%;
    background: #EBECEE;
    color: black; }
    .comments-area .comment-respond .submit:hover {
      background-color: black;
      color: white; }

.main-footer {
  position: relative;
  padding: 20px;
  width: 100%;
  max-width: 820px;
  margin: 0px auto;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  transition: all 0.4s ease;
  z-index: 3;
  opacity: 0;
  transform: translate3d(0px, -20px, 0px); }
  .main-footer.loaded {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1; }
  .main-footer .search {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0px auto 20px auto;
    z-index: 2; }
    .main-footer .search .search-form {
      position: relative;
      display: block;
      width: 100%; }
      .main-footer .search .search-form .search-field {
        width: 100%;
        padding: 0px 10px;
        line-height: 36px;
        height: 36px;
        font-size: 14px;
        border: 2px solid #414141;
        border-radius: 0 !important;
        background: #414141;
        color: white;
        box-sizing: border-box;
        transition: all 0.24s ease; }
        .main-footer .search .search-form .search-field:focus {
          background: black;
          border-color: black; }
      .main-footer .search .search-form .search-bar-trigger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        background: transparent;
        color: white;
        border: 0;
        text-align: center; }
  .main-footer .codename {
    color: #ff9800; }
  .main-footer .social-wrapper {
    padding-top: 20px; }
  .main-footer a {
    color: #828282; }
    .main-footer a:hover {
      background: rgba(255, 152, 0, 0.1);
      color: #f08f00; }
    .main-footer a.social {
      position: relative;
      display: inline-block;
      text-align: center;
      font-size: 18px;
      margin: 0px 3px; }
      .main-footer a.social:hover {
        background: transparent;
        color: #ff9800; }
      .main-footer a.social.github:hover {
        color: #467cc2; }
      .main-footer a.social.google:hover {
        color: #db4437; }
      .main-footer a.social.twitter:hover {
        color: #55acee; }
      .main-footer a.social.weibo:hover {
        color: #f8712a; }

/*# sourceMappingURL=main.css.map */
